<h2>Sign Up!</h2>
<form method="POST" action="/signup">
<label for="username">Username</label>
<input type="text" name="username" id="username" placeholder="Please Enter Username">
<br>
<label for "password">Password</label>
<input type="password" name="password" id="password" placeholder="Please Enter Password">
<input type="submit" value="Signup">
<br>
<br>
</form>

<a href="/login">Already have an account?</a>